* {
  margin: 0px;
  font-weight: bold;
  font-family: 'Alatsi', sans-serif;
}

#small {
  font-size: 0.8rem;
}

#top {
  font-family: 'Alatsi', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  background-color: black;
  color: white;
  padding: 4px;
  padding-left: 10px;
  border-bottom: 2.5px solid white;
}

#logs {
  position: relative;
  float: right;
  margin: 10px;
  border: 10px;
  border: 2px solid white;
}

#bottom {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 9px;
  padding-left: 30px;
  border-top: 2.5px solid white;
}

#box {
  background-color: black;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -330px;
    width: 660px;
    height: 600px;
    border: 2.5px solid white;
    z-index: 1;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 1em;
}

.title {
  font-size: 1rem;
  font-family: 'Alatsi', sans-serif;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("backdrop.png"), rgb(19, 19, 19);
  color: white;
  height: 110vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%; 
}

.rareImages {
  width: 30%;
  margin-top: 50 px;
  border: 50 px;
  border: 2px solid whitesmoke;
  margin-left:auto;
  margin-right:auto;
}

#coverLogs {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -600px;
  width: 1200px;
  height: 700px;
  background-color: whitesmoke;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

#coverMy {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -600px;
  width: 1200px;
  height: 700px;
  background-color: whitesmoke;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

#coverRare {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -375px;
  width: 750px;
  height: 700px;
  background-color: whitesmoke;
  border-radius: 3px;
  border-color: black;
  display: none;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

#myX {
  padding: 5px 8px;
  margin: 5px 10px;
  margin-right: 5px;
  margin-bottom: 2em;
}

#rareX {
  padding: 5px 8px;
  margin: 5px 10px;
  margin-right: 5px;
  margin-bottom: 2em;
}

#logsX {
  padding: 5px 8px;
  margin: 5px 10px;
  margin-right: 5px;
  margin-bottom: 2em;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 700px;
}

.caption {
  display: block;
}

button {
  padding: 5px 20px;
  margin: 15px;
  float: right;
  background: black;
  border-color: white;
  font-family: 'Alatsi', sans-serif;
  font-weight: bold;
  color: white;
  border-width: 1px;
  position: relative;
  margin-right: 7em;
  margin-bottom: 2em;
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}